body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


Nav {
  background-color: crimson;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 5em;
  width: 100vw;
}

a {
  color: #eee;
  text-decoration: none;
}

header nav a {
  margin: 0 1em;
}


body {
background-color: aqua;

}


.hometitle {

  display: flex;
  justify-content: center;
  font-size: 150px;
  flex-wrap: wrap;
}

 .nameband {

  display: flex;
  justify-content: center;
  font-size: 100px;
  align-items: center;
  flex-wrap: wrap;

 }

 .musicianForm {

  background-color: white;
  display: flex;
  
  justify-content: center;
  align-items: center;
  height: 45vh;
  padding: 50px;
  flex-wrap: wrap;
  border: 10px solid black;
  border-radius: 15px;
  margin: 20px;
 }

 .musicianTitle {

  background-color: crimson;
  border-bottom: 1px solid gray;
 }




 button {
  width: 50px;
  align-items:flex-end;
 }


 .bandConfirmPanel {

  display:flex;
  
 }

 .profilePic {
  border: black 5px solid;
  border-radius: 15px;
  display: flex;
 }

 .frontpage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  
 }


 .frontpageInput{
  max-width: 300px;
  
  display:flex;
  justify-content: center;
  align-self:center;
 }